@font-face {
  font-family: "CreatorDisplay-Light";
  src: url("../font/CreatoDisplay-Light.otf") format("truetype");
}

@font-face {
  font-family: "CreatorDisplay-Regular";
  src: url("../font/CreatoDisplay-Regular.otf") format("truetype");
}

@font-face {
  font-family: "CreatorDisplay-Medium";
  src: url("../font/CreatoDisplay-Medium.otf") format("truetype");
}

@font-face {
  font-family: "CreatorDisplay-ExtraBold";
  src: url("../font/CreatoDisplay-ExtraBold.otf") format("truetype");
}

@font-face {
  font-family: "NeutraText-Bold";
  src: url("../font/NeutraText-Bold.otf") format("truetype");
}

@font-face {
  font-family: "NeutraText-BoldItalic";
  src: url("../font/NeutraText-BoldItalic.otf") format("truetype");
}

@font-face {
  font-family: "NeutraText-Book";
  src: url("../font/NeutraText-Book.otf") format("truetype");
}

@font-face {
  font-family: "NeutraText-BookItalic";
  src: url("../font/NeutraText-BookItalic.otf") format("truetype");
}

@font-face {
  font-family: "NeutraText-Light";
  src: url("../font/NeutraText-Light.otf") format("truetype");
}
