:root{
    --white : #FAFAFA;
    --black : #272727;
    --grey : #555555;
    --lightgrey : #D2D3D2;
    --orange: #FF7A00;
}

html, body 
{
    width: 100vw;
    background-color: #FAFAFA;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}


/* Page d'acceuil */

.tour_eiffel {
    width: 100%;
}

.page_filtre {
    width: 100vw;
    height: 100vh;
    background: url("../images/homepageimg1.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10%;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 80px;
    background-color: #fafafa;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0px 12px 50px 8px rgba(0, 0, 0, 0.15);
}

.filter label 
{
    font-size: 1.4rem;
    font-family: 'CreatorDisplay-Medium';
    color: var(--black);
}

.filter div
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
}

.filter .btn
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.filter .btn input
{
    font-family: 'CreatorDisplay-Medium';
    font-size: 1.6rem;
    color: #fff;
    background-color: #272727;
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 4px;
}

.filter .btn input:hover
{
    color: var(--black);
    background-color: transparent;
    border: 2px var(--black) solid;
}

.filter .btn input:active
{
    background-color: var(--grey);
    color: #fff;
    border: none;
}

.filter input , .filter select
{
    border: none;
    background: transparent;
    width: 60%;
}

.filter input:focus , .filter select:focus
{
    outline: none;
}


.arrondissement, .depart, .arrive, .voyager {
    border-right: 1px solid #AFAFAF ;

}

.presentation
{
    width: 100%;
    padding: 60px 90px 60px 90px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: var(--white);
}

.presentation-title, .presentation-txt, .neighbor-title, .services-title

{
    width: 100%;
}

.presentation-title h2, .all_arrondissement_title h1, .services-title h2
{
    font-family: 'CreatorDisplay-ExtraBold';
    color: #272727;
    font-size: 2.2rem;
}

.presentation-txt p
{
    font-family: 'CreatorDisplay-Medium';
    color: #272727;
    font-size: 1.6rem;
}

.separator
{
    width: 100%;
    height: 1px;
    background-color: #AFAFAF;
}


.video
{
    width: 100%;
}

video
{
    width: 100%;
    height: 100%;
}




.all_arrondissement {
    display: flex;
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
    flex-direction: column;
    background-color: #fafafa;
}


.all_arrondissement_title {
    padding-bottom: 7%;
    font-family: 'CreatorDisplay-ExtraBold';
    font-size: 30px;
}

.all_arrondissement_card img {
    width: 100%;
    height: auto;
}



.all_arrondissement_card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.all_arrondissement_top {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

.all_arrondissement_eiffel {
    box-shadow: 0px 8px 30px 4px rgba(0, 0, 0, 0.1);
    margin-right: 5%;
    width: 50%;
}

.all_arrondissement_eiffel_img {
    max-width: 100%;
    height: auto;
}

.all_arrondissement_eiffel_img:hover {
    transition: filter 0.4s ease;
    filter: blur(3px);
    cursor: pointer;
}

.all_arrondissement_eiffel_title h6{
    font-size: 16px;
    font-family: 'CreatorDisplay-Regular';
    padding-left: 3%;
    padding-top: 15px
}

.all_arrondissement_eiffel_text p{
    font-size: 14px;
    font-family: 'CreatorDisplay-Light';
    padding-left: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.all_arrondissement_marais {
    box-shadow: 0px 8px 30px 4px rgba(0, 0, 0, 0.1);
    margin-right: 5%;
    width: 50%;
}

.all_arrondissement_marais_img:hover {
    transition: filter 0.4s ease;
    filter: blur(3px);
    cursor: pointer;
}

.all_arrondissement_marais_title h6{
    font-size: 16px;
    font-family: 'CreatorDisplay-Regular';
    padding-left: 3%;
    padding-top: 15px
}

.all_arrondissement_marais_text p{
    font-size: 12px;
    font-family: 'CreatorDisplay-Light';
    padding-left: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.all_arrondissement_opera {
    box-shadow: 0px 8px 30px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    
}

.all_arrondissement_opera_img:hover {
    transition: filter 0.4s ease;
    cursor: pointer;
    filter: blur(3px);
}

.all_arrondissement_opera_title h6{
    font-size: 16px;
    font-family: 'CreatorDisplay-Regular';
    padding-left: 3%;
    padding-top: 15px
}

.all_arrondissement_opera_text p{
    font-size: 12px;
    font-family: 'CreatorDisplay-Light';
    padding-left: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.all_arrondissement_top_little {
    display: flex;
    width: 50%;
    height: 80%;
}

.all_arrondissement_bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.all_arrondissement_montmartre {
    box-shadow: 0px 8px 30px 4px rgba(0, 0, 0, 0.1);
    margin-right: 5%;
    width: 50%;
}

.all_arrondissement_montmartre_img:hover {
    transition: filter 0.4s ease;
    cursor: pointer;
    filter: blur(3px);
}

.all_arrondissement_montmartre_title h6{
    font-size: 16px;
    font-family: 'CreatorDisplay-Regular';
    padding-left: 3%;
    padding-top: 15px
}

.all_arrondissement_montmartre_text p{
    font-size: 12px;
    font-family: 'CreatorDisplay-Light';
    padding-left: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.all_arrondissement_champs {
    box-shadow: 0px 8px 30px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.all_arrondissement_champs_img:hover {
    transition: filter 0.4s ease;
    cursor: pointer;
    filter: blur(3px);
}

.all_arrondissement_champs_title h6{
    font-size: 16px;
    font-family: 'CreatorDisplay-Regular';
    padding-left: 3%;
    padding-top: 15px
}

.all_arrondissement_champs_text p{
    font-size: 12px;
    font-family: 'CreatorDisplay-Light';
    padding-left: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.all_arrondissement_bottom_little {
    display: flex;
    width: 50%;
    height: 80%;
}

.all_arrondissement_pantheon {
    box-shadow: 0px 8px 30px 4px rgba(0, 0, 0, 0.1);
    margin-left: 4.5%;
    width: 50%;
}

.all_arrondissement_pantheon_img:hover {
    transition: filter 0.4s ease;
    cursor: pointer;
    filter: blur(3px);
}


.all_arrondissement_pantheon_title h6{
    font-size: 16px;
    font-family: 'CreatorDisplay-Regular';
    padding-left: 3%;
    padding-top: 15px
}

.all_arrondissement_pantheon_text p{
    font-size: 12px;
    font-family: 'CreatorDisplay-Light';
    padding-left: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Fin de la page d'acceuil avec le filtre */
/* Grid container avec les 3 quartiers phare */

  .grid-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  
  /* hover styles */
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;
    width: 100%;
    height: 320px;
  }
  
  .location-image img {
    filter: blur(0px);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .location-title {
    font-size: 48px;
    font-family: 'NeutraText-Book';
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }
  
  
  /* for touch screen devices */
  @media (hover: none) { 
    .location-title {
      opacity: 1;
    }
    .location-image img {
      filter: blur(2px);
    }
  }




/* Elements de réassurance */

.assurance {
    padding: 60px 90px;
}

.nosservices {
    width: 100%;
    margin-bottom: 40px;
}

.nosservices h1
{
    font-family: 'CreatorDisplay-ExtraBold';
    font-size: 2rem;
}

.elements_top {
    display: flex;
    display: flex;
    
}




.assurance_title h6 {
    font-family: 'CreatorDisplay-ExtraBold';
    font-size: 14px;
    margin-top: 3%;
    margin-bottom: 4%;
}


.assurance_text_chauffeur p{
    font-family: 'CreatorDisplay-Regular';
    font-size: 12px;
    color: #555555;
    padding-right: 17%;
    margin-right: 17%;
}

.assurance_text_guide p {
    font-family: 'CreatorDisplay-Regular';
    font-size: 12px;
    color: #555555;
    padding-right: 18%;
    margin-right: 18%;
}

.assurance_text_chef p {
    font-family: 'CreatorDisplay-Regular';
    font-size: 12px;
    color: #555555;
   
   
}



.elements_bottom {
    display: flex;
    padding-top: 9%;
    padding-bottom: 9%;
   
    /* flex-wrap: wrap; */
}

.assurance_text_child p {
    font-family: 'CreatorDisplay-Regular';
    font-size: 12px;
    color: #555555;
   
   
}

.elements_bottom{
    display: flex;
}

.assurance_text_conciergerie p{
    font-family: 'CreatorDisplay-Regular';
    font-size: 12px;
    color: #555555;
   
   
}

.assurance_text_ballon p{
    font-family: 'CreatorDisplay-Regular';
    font-size: 12px;
    color: #555555; 
}

.child {
    padding-left: 1%;
    padding-top: 1%;
}

.conciergerie {
    padding-left: 10%;
}

.ballon {
    padding-left: 13%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}


/* Début du footer */
footer {
    background-color: #272727;
    width: 100%;
    padding: 20px;
    text-align: center;
    /* position: relative; */
    bottom: 0;
  }

.separator_footer {
    border: 1px solid #fafafa;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    justify-content: space-between;
}

.logo_footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-logo-txt p{
    font-family: 'NeutraText-Book';
    font-size: 36px;
    color:#fafafa;
  }

  .separator-footer{
    background-color: white;
    height: 2px;
    width: 40%;
  }
  .logo_footer a {
    font-family: 'NeutraText-Book';
    font-size: 36px;
    text-align: center;
    color:#fafafa;
    text-decoration: none;
  }

  .footer_elements {
    display: flex;
    justify-content: center;
  }

  .footer_column_left,
  .footer_column_middle,
  .footer_column_right {
    width: 33.33%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .footer_column_left_title h3,
  .footer_column_middle_title h3,
  .footer_column_right_title h3 {
    margin-top: 16%;
    margin-bottom: 10%;
    font-family: 'CreatorDisplay-Light';
    font-size: 23px;
    color: #fafafa;
  }

  .footer_column_left_title p,
  .footer_column_middle_title p,
  .footer_column_right_title p {
    color: #fafafa;
    padding-bottom: 15px;
  }

  .footer_column_left_elements,
  .footer_column_middle_elements,
  .footer_column_right_elements {
    color: #fafafa;
    padding-bottom: 30px;

  }

  .footer_column_left_elements p,
  .footer_column_middle_elements p,
  .footer_column_right_elements p {
    margin-bottom: 15px;
    font-family: 'CreatorDisplay-Light';
    font-size: 16px;
    cursor: pointer;
  }

  #footer-logo
  {
    cursor: pointer;
  }


  


@media  screen and (max-width:500px) {
    .elements_top{
       
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:10px;
    }
    .elements_bottom{
       
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:10px;
    }
    .conciergerie{
        padding: 0;
    }
    .ballon{
        padding: 0;
    }
    .presentation{
        padding-left: 30px;
        padding-right: 30px;
    }
    .all_arrondissement{
        padding-left: 30px;
        padding-right: 30px;
    }
    .assurance{
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
