:root{
    --white : #FAFAFA;
    --black : #272727;
    --grey : #555555;
    --lightgrey : #D2D3D2;
    --orange: #FF7A00;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

.img-container, .housing-img {
    width: 100%;
}

.img-container {
    position: relative;
}

.housing-title {
    position: absolute;
    bottom: 1em;
    color: var(--white);
    font-size: 3.6rem;
}